<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QFTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9396F3671F10B25C00DA2F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9396F37B1F10B25D00DA2F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9396F3861F10B25D00DA2F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
